#num-1 {
  font-size: 34px;
  font-weight: bold;
  margin-left: 20px;
  float: left; }

#num-2 {
  font-size: 34px;
  font-weight: bold;
  margin-left: 20px;
  float: left; }

#num-3 {
  font-size: 34px;
  font-weight: bold;
  margin-left: 20px;
  float: left; }

#num-4 {
  font-size: 34px;
  font-weight: bold;
  margin-left: 20px;
  float: left; }
